@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root {
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif!important;
}
